@model IEnumerable<ClaptonStore.Models.ViewModels.AllGamesViewModel>

@{
    var isAdmin = User.IsInRole("Administrators");
}

<main>
    <div class="container">
        <div class="row">
            @foreach (var game in Model)
            {
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <h3 class="card-header text-center">@game.Title</h3>
                        <div class="card-body">
                            <img style="height: 200px; width: 100%; display: block;" src="@game.ThumbnailUrl" alt="Card image">
                        </div>
                        <div class="card-body">
                            <p class="card-text">@game.Description</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Size - @game.Size GB</li>
                                <li class="list-group-item">Price - @game.Price &euro;</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            @if (isAdmin)
                            {
                                <a href="#" class="btn btn-warning">Edit</a>

                                <button type="submit"
                                        asp-page-handler="delete"
                                        asp-route-id="@game.Id"
                                        class="btn btn-danger">
                                    Delete
                                </button>

                                <a asp-route-id="@game.Id"
                                   asp-controller="Game"
                                   asp-action="Details"
                                   class="btn btn-outline-info">Info</a>

                                <button type="submit"
                                        asp-page-handler="buy"
                                        asp-route-id="@game.Id"
                                        class="btn btn-success">
                                    Buy
                                </button>
                            }
                            else
                            {
                                <a asp-route-id="@game.Id"
                                   asp-controller="Game"
                                   asp-action="Details"
                                   class="btn btn-outline-info">Info</a>

                                <button type="submit"
                                        asp-page-handler="buy"
                                        asp-route-id="@game.Id"
                                        class="btn btn-success">
                                    Buy
                                </button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>